body {
    background-color: #151c2a;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

.navbar {
    background-color: #111827;
    border-radius: 1.5rem;
}

.nav-container {
    max-width: 1280px;
    font-weight: normal;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 5rem;
}

.company-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.75rem;
    background: linear-gradient(-45deg, #8b5cf6, #7d37ea, #7836da);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#navbar-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
    color: #6b7280;
    background-color: transparent;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

#navbar-toggle:hover {
    background-color: #35383f;
}

.toggle-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.navbar-menu {
    display: none;
    width: 100%;
    background-color: #111827;
    border-radius: 1rem;
}

.navbar-menu.active {
    font-weight: normal;
    font-size: 1rem;
    display: block;
}

.nav-list {
    font-medium: 500;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    margin: 0;
    list-style-type: none;
}

.nav-list li a {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    border-radius: 0.2rem;

    color: white;
}

.nav-list li a:hover {
    background-color: #3a373f;
}

.nav-list li a.active {
    background-color: #772cec;
    color: white;
}

@media (min-width: 768px) {
    #navbar-toggle {
        display: none;
    }

    .navbar-menu {
        display: block;
        width: auto;
    }

    .nav-list {
        flex-direction: row;
        padding: 0;
    }

    .nav-list li a {
        padding: 0.5rem 0;
        margin: 0 1rem;
        background-color: transparent;
    }

    .nav-list li a:hover {
        background-color: transparent;
        color: #8b5cf6;
    }

    .nav-list li a.active {
        background-color: transparent;
        color: #8b5cf6;
    }
}