.banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../assets/hydra/banner.png');
    background-size: cover;
    background-position: center;
}

.banner-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40%;
    padding-right: 5%;

}

.title1, .title2, .title3 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 10px;
}

.title1 {
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(-45deg, #ffffff, #e8e8e8, #d2d0d0);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title2 {
    font-size: 5rem;
    font-weight: 600;
    background: linear-gradient(-45deg, #8b5cf6, #7d37ea, #7836da);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10%;
}



.products-container {
    max-width: 100%;
    padding: 2rem;
    background-color: #1a1a1a;

}

.products-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    background: linear-gradient(-45deg, #ffffff, #e8e8e8, #d2d0d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
}

.product-card {
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    padding: 0.2rem;

}

.product-card-content {
    padding: 1rem;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(139, 92, 246, 0.2);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.product-card h3 {
    margin-top: 0;
    color: white;
}

.product-card p {
    flex-grow: 1;
    color: white;
}

.product-card button {
    background-color: #8b5cf6;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #7c3aed;
}

@media (max-width: 768px) {
    .banner {
        height: 250px; /* Reduce banner height for smaller screens */
    }

    .banner-content {
        width: 80%;
        margin-right: 10%; /* Center content on smaller screens */
        padding-right: 0;
    }

    .title1 {
        font-size: 1.5rem; /* Smaller font size for mobile */
    }

    .title2 {
        font-size: 3rem; /* Smaller font size for mobile */
        margin-left: 5%; /* Adjust margin */
    }
}
